accelerate
datasets
torchmetrics
evaluate
transformers
wandb
pip
peft
nodelist-inflator
deepspeed
sentencepiece
jsonlines
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability