accelerate
datasets
torchmetrics
evaluate
transformers
wandb
pip
peft
nodelist-inflator
deepspeed
sentencepiece
jsonlines
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability